{% extends 'shop/base.html' %}
{% block content %}
{% load static %}
{% load shop_tags %}

<!-- SECTION -->
<div class="section" id="app">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-3">
                <!-- aside Widget -->
<!--                <form action="" id="form_buying" method="POST">-->
<!--                    <input type="hidden" id="Url" data-url="{% url 'basket' %}" />-->
<!--                    {% csrf_token %}-->
                    <div class="aside">
                        <h3 class="aside-title">Категории</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox" id="categories_filter" v-for="cat in cats">
                                <input type="checkbox" :id="cat.name" :value="cat.id" v-model="checkedCats" >
                                <label :for="cat.name">
                                    <span></span>
                                    {*cat.name*}
                                    <small>
<!--                                        {% cat_product_count as cat_product_count%}-->
<!--                                        {% for c in cat_product_count %}-->
<!--                                        {% if c == cat %} ( {{c.shopproducts__count}} ) {% endif %}-->
<!--                                        {% endfor %}-->
                                    </small>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Price</h3>
                        <div class="price-filter">
                            <div id="price-slider"></div>
                            <div class="input-number price-min">
                                <input id="price-min" type="number" name="price-min">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                            <span>-</span>
                            <div class="input-number price-max">
                                <input id="price-max" type="number" name="price-max">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                    </div>
                    <!-- /aside Widget -->
                    <!-- aside Widget -->
                    <div class="aside">
                        <h3 class="aside-title">Производитель</h3>
                        <div class="checkbox-filter">

                            <div class="input-checkbox" v-for="brand in brands">
                                <input type="checkbox" :id="brand.name" :value="brand.id" v-model="checkedBrands">
                                <label :for="brand.name">
                                    <span></span>
                                    {*brand.name*}
<!--                                    <small>-->
<!--                                        {% brand_product_count as brand_count %}-->
<!--                                        {% for b in brand_count %}-->
<!--                                        {% if b == brand %} ( {{b.shopproducts__count}} ) {% endif %}-->
<!--                                        {% endfor %}-->
<!--                                    </small>-->
                                </label>
                            </div>

                        </div>
                    </div>
                    <br>
<!--                    <button type="submit" class="quick-view"><span class="tooltipp">Показать</span></button>-->
<!--                </form>-->
                <br>
                <!-- /aside Widget -->

                <!-- aside Widget -->
                <div class="aside">
                    <h3 class="aside-title">Top selling</h3>
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product01.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00
                                <del class="product-old-price">$990.00</del>
                            </h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product02.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00
                                <del class="product-old-price">$990.00</del>
                            </h4>
                        </div>
                    </div>

                    <div class="product-widget">
                        <div class="product-img">
                            <img src="./img/product03.png" alt="">
                        </div>
                        <div class="product-body">
                            <p class="product-category">Category</p>
                            <h3 class="product-name"><a href="#">product name goes here</a></h3>
                            <h4 class="product-price">$980.00
                                <del class="product-old-price">$990.00</del>
                            </h4>
                        </div>
                    </div>
                </div>
                <!-- /aside Widget -->
            </div>
            <!-- /ASIDE -->

            <!-- STORE -->
            <div id="store" class="col-md-9">
                <!-- store top filter -->
                <div class="store-filter clearfix">
                    <div class="store-sort">
                        <label>
                            Sort By:
                            <select class="input-select">
                                <option value="0">Popular</option>
                                <option value="1">Position</option>
                            </select>
                        </label>

                        <label>
                            Show:
                            <select class="input-select">
                                <option value="0">20</option>
                                <option value="1">50</option>
                            </select>
                        </label>
                    </div>
                    <ul class="store-grid">
                        <li class="active"><i class="fa fa-th"></i></li>
                        <li><a href="#"><i class="fa fa-th-list"></i></a></li>
                    </ul>
                </div>
                <!-- /store top filter -->

                <!-- store products -->
                <div class="row">
                    <!-- product -->
                    <div class="col-md-4 col-xs-6" v-for="p in allproducts">
                        <div class="product">
                            <div class="product-img">
                                <a :href="+p.id"><img :src="p.photo" height="250"
                                                                        :alt="p.title"></a>
                                <div class="product-label">
                                    <span v-if="p.sale" class="sale">-{*p.sale*}</span>
                                    <span v-if="p.new" class="new">NEW</span>

                                </div>
                            </div>
                            <div class="product-body">
                                <div id="id-product" class="hidden">{*p.id*}</div>
                                <p class="product-category">{*p.cat.name*}</p>
                                <h3 class="product-name">{*p.title|truncatewords:4*}</h3>
                                <h4 class="product-price">&#x20bd {*p.prise*}</h4>
                                    <del class="product-old-price">&#8381 990.00</del>


                                <div class="product-rating">
                                    <i v-for="i in p.raiting" class="fa fa-star"></i>
                                </div>

                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span>
                                    </button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span>
                                    </button>
                                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span>
                                    </button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> В корзину</button>
                            </div>
                        </div>
                    </div>
                    <!-- /product -->



                </div>
                <!-- /store products -->

                <!-- store bottom filter -->
                <div class="store-filter clearfix">
                    <span class="store-qty">Showing 20-100 products</span>
                    <ul class="store-pagination">
                        <li class="active">1</li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
                <!-- /store bottom filter -->
            </div>
            <!-- /STORE -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

<!-- NEWSLETTER -->
<div id="newsletter" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="newsletter">
                    <p>Sign Up for the <strong>NEWSLETTER</strong></p>
                    <form>
                        <input class="input" type="email" placeholder="Enter Your Email">
                        <button class="newsletter-btn"><i class="fa fa-envelope"></i> Subscribe</button>
                    </form>
                    <ul class="newsletter-follow">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /NEWSLETTER -->


{% endblock %}


